.resizeHandle {
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 10;
  background: transparent;
  transition: background-color 150ms ease;
}

.resizeHandle:hover,
.resizeHandle:active {
  background: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}
